/* Select do tema */
:host ::ng-deep .po-select{
    background-color: transparent;
    border: 2px solid  #045b8f;
    margin-top: 0px;
    height: 10px;
}

/* Retirando padding para deixar o select na msm posição dos outros botoes */
:host ::ng-deep .po-field-container-content{
    padding: 0;
} 