<form #f="ngForm">
    <div class="po-row">
        <po-button
            class="po-md-2"
            p-label="Executar"
            (p-click)="executa()">
        </po-button>

        <po-button
            class="po-md-2"
            p-label="Limpar"
            (p-click)="limpar()">
        </po-button>

        <po-button
            class="po-md-2"
            p-label="Salvar"
            (p-click)="modalSalvar.open()">
        </po-button>

        <po-button 
            class="po-md-2" 
            p-label="Histórico"
            (p-click)="modalHistorico.open()">
        </po-button>
        
        <po-select
            class="po-md-2"
            name="tema"
            [p-options]="opcoesTema"
            (p-change)="mudaTema($event)">
        </po-select>
    </div>
</form>

<po-modal #modalSalvar p-title="Salvar"> 
    <po-input name="titulo" p-label="Titulo" p-placeholder="Digite o titulo" [(ngModel)]="titulo"></po-input>
    <po-modal-footer [p-disabled-align]="false">
        <po-button p-danger="true" p-label="Fechar" (p-click)="closeModal()"></po-button>
        <po-button p-kind="primary" p-label="Salvar" (p-click)="salvar()"></po-button>
    </po-modal-footer>
</po-modal>

<po-modal #modalHistorico p-title="Histórico"> 
    <app-historico></app-historico>
</po-modal>