@if (carregando) {
    <div class="sample-container">
        <po-loading-overlay></po-loading-overlay>
    </div>
} @else {
    @if(retornouErro){
        <po-dynamic-view [p-fields]="[{ property: 'Erro' }]" [p-value]="{ Erro: retornouErro }"> </po-dynamic-view>
    } @else {
        <po-table 
            [p-items]="itens" 
            [p-columns]="colunas"
            [p-infinite-scroll]="true"
            [p-infinite-scroll-distance]="50"
            [p-show-more-disabled]="exibeMais"
            (p-show-more)="carregarMais()">
        </po-table>
    }
}


 